<div class="archive">
  {{ $paginator := .Paginate (where .Data.Pages "Section" "!=" "").ByPublishDate.Reverse }}
  {{- range $paginator.Pages }}
  <a class="archive_item" href="{{ .Permalink }}">
    <h3 class="article_title">{{ .Title }}</h3>
    {{- with .Date -}}
    <span class="post_date" style="width: 8rem;">{{ dateFormat "Jan 02, 2006" . }}</span>
    {{- end -}}
    {{/*  {{- with .Summary -}}
    <p>{{ truncate 150 .  }}</p>  */}}
    {{/*  {{- end -}}  */}}
  </a>
  {{- end -}}
</div>
