<head>
  <title>
    {{- $siteTitle := .Site.Title }}
    {{- $defaultPageTitle := "" -}}

    {{- if .File }}
      {{- $defaultPageTitle = (.File.ContentBaseName | humanize | title)  -}}
    {{- end }}

    {{- $pageTitle := default $defaultPageTitle .Title }}

    {{- if and (not .IsHome) (ne $pageTitle "") }}
      {{- $pageTitle := default $defaultPageTitle .Title }}
      {{- printf "%s | %s" $pageTitle  $siteTitle }}
    {{- else }}
      {{- $siteTitle }}
    {{- end }}

  </title>
  <meta charset='utf-8'>
  {{- with .Site.Params.ga_verify }}
  <meta name="google-site-verification" content="{{ . }}" />
  {{- end }}
  <meta name="viewport" content ="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {{- partialCached "analytics" . }}
  {{- partial "opengraph" . }}
  {{- partialCached "favicon" . }}
  {{- partialCached "scripts" . }}
  {{- partialCached "styles" . }}

  {{- $rss := printf "%s%s" (.RelPermalink) "index.xml" }}
  <link rel="alternate" type="application/rss+xml" href="{{ $rss }}" title="{{ .Site.Title }}" />
</head>
