{{/*  Pass in a Page context  */}}
{{- $title := .Title }}
{{- $thumbnail := .Params.Thumbnail }}
{{- $summary := default "" .Params.Summary }}
{{- $paper := default "" .Params.Paper }}
{{- $venue := default "" .Params.Venue }}
{{- $projectPage := default .Permalink .Params.ProjectPage }}
{{- $authors := .Params.Authors }}
{{- $notes := .Params.Notes }}


<div class="pub-item">
	{{ with $thumbnail }} 
		<figure class="pub-thumbnail">
		<img src="{{ $thumbnail }}">
		</figure>
	{{ end }}
	<div class="pub-info">
	<div class="pub-title">{{ $title }}</div>
	<div class="pub-author">
		{{ range $index, $author := $authors }}
		{{ $fullname := split (index $author "name") ", " }}
		{{ $lastname := index $fullname 0 }}
		{{ $firstname := index $fullname 1 }}
		{{ $displayname := printf "%v %v" $firstname $lastname }}
		{{- if in $displayname $.Site.Params.author.name -}}<b>{{- $displayname -}}</b>
		{{- else -}}{{- $displayname -}}
		{{- end -}}

		{{- range $noteIndex := (index $author "notes") -}}
			{{- $noteSymbol := (index (slice "*" "^") (sub $noteIndex 1)) -}}
			{{- $noteSymbol -}}
		{{- end -}}

		{{- if ne (add $index 1) (len $authors) -}}{{- "," -}}{{- end -}}
		{{ end }}

		{{ with $notes }}
		<span class="pale">
		(
			{{- range $index, $note := $notes -}}
				{{- $noteSymbol := (index (slice "*" "^") $index) -}}
				<span>{{ printf "%v%v  " $noteSymbol $note }}</span>
			{{- end -}}
		)
	</span>
		{{ end }}
	</div>
	<div class="pub-status">
		<i>
		{{ with $venue }}
			<b>{{ .Get "name" }}</b>
			{{ with .Get "note" }} ({{ . }}){{ end }}
		{{ end }}
		</i>
	</div>
	<div class="pub-links">
		<a href={{ $projectPage }}>Project page</a>
		{{ with $paper }} | <a href={{ $paper }}>Paper</a>{{ end }}
	</div>
	<div class="pub-description pale">
		{{ $summary }}
	</div>
	</div>
</div>