{{- $title := default "P equals NP" (.Get "title" )}}

{{- $publicationList := where .Site.Pages "Type" "publication" }}
{{- $target := where $publicationList "Title" $title }}


{{ if eq (len $target) 0 }} {{ errorf "Failed to find a publication titled: %v" $title }} {{ end }}
{{ if gt (len $target) 2 }} {{ warnf "find more than 1 publication titled: %v, proceed with the first one" $title }} {{ end }}

{{- $targetPage := index $target 0 }}

{{ with (index $target 0) }}
	{{- $thumbnail := .Params.Thumbnail }}
	{{- $summary := default "" .Params.Summary}}
	{{- $paper := default "" .Params.Paper }}
	{{- $venue := default "" .Params.Venue }}
	{{- $projectPage := default .Permalink .Params.ProjectPage }}
	{{- $authors := .Params.Authors }}

	{{ range $index, $author := $authors }}
		{{ $fullname := split (index $author "name") ", " }}
		{{ $lastname := index $fullname 0 }}
		{{ $firstname := index $fullname 1 }}
	{{ end }}

	<div class="pub-item">
		<figure class="pub-thumbnail">
			<img src="{{ $thumbnail }}">
		</figure>
		<div class="pub-info">
			<div class="pub-title">{{ $title }}</div>
			<div class="pub-author">
				{{ range $index, $author := $authors }}
					{{ $fullname := split (index $author "name") ", " }}
					{{ $lastname := index $fullname 0 }}
					{{ $firstname := index $fullname 1 }}
					{{ $displayname := printf "%v %v" $firstname $lastname }}
					{{- if in $displayname "Zhenyuan Liu" -}}<b>{{- $displayname -}}</b>
					{{- else -}}{{- $displayname -}}
					{{- end -}}
					{{- if ne (add $index 1) (len $authors) -}}{{- "," -}}{{- end -}}
				{{ end }}
			</div>
			<div class="pub-status">
				<i>
					{{ with $venue }}
						<b>{{ .Get "name" }}</b>
						{{ with .Get "note" }} ({{ . }}){{ end }}
					{{ end }}
				</i>
			</div>
			<div class="pub-links">
				<a href={{ $projectPage }}>Project page</a>
				{{ with $paper }} | <a href={{ $paper }}>Paper</a>{{ end }}
			</div>
			<figcaption class="pub-description">
				{{ $summary }}
			</figcaption>
		</div>
	</div>
{{ end }}